<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/aboutpg.css"/>
    <title>About page</title>
</head>
<body>
    <h1>ABOUT</h1><br>
    <br><hr/>
    <p id="prrr">“Travel isn’t always pretty. It isn’t always comfortable. Sometimes it hurts, it even breaks your heart. 
        <br/>But that’s okay. The journey changes you; it should change you. It leaves marks on your memory, on your heart, and on your body.<br/> You take something with you. Hopefully, you leave something good behind.” <br/><br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;~ Anthony Bourdain</p></p>
    <br><p>created by adibawa</p>
</body>
</html>