<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/aboutpg.css"/>
    <title>contact us</title>
</head>
<body>
    <h1>CONTACT US</h1><br><br><hr/>
    <p>Mobile number : 9719947553</p>
    
    <p>Email id: paditya11212@gmail.com</p>
    <br><br><br><br><br>
    <form>
        <h4>Share your feedback here</h4>
        <input id="fdbox" type="text" placeholder="write your feedback here..."/>
        <button id="sbtno">Submit</button>
    </form>
</body>
</html>